@model JobBoard.UI.Models.RegisterViewModel
@{
    ViewBag.Title = "Upload Your Resume";
}

<!-- Page Header Start -->
<div class="page-header" style="background: url(../../Content/img/banner1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="product-title">Add Resume</h2>
                    <ol class="breadcrumb">
                        <li><a href=@Url.Action("Index", "Home")><i class="ti-home"></i> Home</a></li>
                        <li class="current">Add Resume</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->

<section class="manage resume-page section">
    <div class="container">
        <h2 class="medium-title">@ViewBag.Title</h2>
        <div class="card table-card">
            <div class="card-body">
                @if (ViewBag.UserResume != null)
                {
                    <div class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-md-2 control-label">Current Resume</label>
                            <div class="col-md-10">
                                <a class="current-resume" href="~/Content/resumes/@ViewBag.UserResume">@ViewBag.UserResume</a>
                            </div>
                        </div>
                    </div>
                }
                

                @using (Html.BeginForm("UploadResume", "Account", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        <label class="col-md-2 control-label">Upload Resume</label>
                        <div class="col-md-10">
                            <input type="file" name="resumeFile" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-common" value="Upload Resume" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
