@model JobBoard.UI.Models.ContactViewModel

@{
    ViewBag.Title = "Contact Tech Savvy";
}

<!-- Page Header Start -->
<div class="page-header" style="background: url(../../Content/img/Banner-Contact.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="product-title">Contact</h2>
                    <ol class="breadcrumb">
                        <li><a href=@Url.Action("Index", "Home")><i class="ti-home"></i> Home</a></li>
                        <li class="current">Contact</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->

<section class="manage section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="medium-title">@ViewBag.Title</h2>
            </div>
        </div>
        <div id="contactForm">
            <div class="row">
                @Html.Partial("ContactForm", new JobBoard.UI.Models.ContactViewModel())
            </div>
        </div>
        <div id="contactConfirm">
            <div class="row">
                @Html.Partial("EmailConfirm", new JobBoard.UI.Models.ContactViewModel())
            </div>
        </div>
    </div>
</section>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#ContactCreateForm").submit(function (e) {
            var formData = $(this).serializeArray();
            e.preventDefault();

            $.ajax({
                url: '@Url.Action("ContactAjax", "Home")',
                type: 'POST',
                data: formData,
                datatype: 'json',
                success: function (data) {
                    $("#contactForm").hide();
                    $("#contactConfirm").show();
                }
            });

        });
    </script>
}