@model IEnumerable<JobBoard.DATA.OpenPositions>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Home";
}

<!-- Main Slider Section -->
<section id="slider">
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                <li data-transition="fade" data-slotamount="7" data-masterspeed="2000" data-thumb="../../Content/img/computer-collaboration.jpg">
                    <!-- MAIN IMAGE -->
                    <img src="~/Content/img/dummy.png" alt="laptopmockup_sliderdy" data-lazyload="../../Content/img/computer-collaboration.jpg">
                    <!-- LAYERS 1 -->
                    <div class="tp-caption mediumHeading h2 lft tp-resizeme rs-parallaxlevel-0 start"
                         data-x="center"
                         data-y="center"
                         data-voffset="-50"
                         data-speed="1200"
                         data-start="1000"
                         data-easing="Back.easeInOut"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="400" style="z-index: 11;">
                        <h2 style="min-height: 0px; min-width: 0px; line-height: 30px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; letter-spacing: 2px; font-weight: 900; font-size: 52px; color: #fff; text-transform: uppercase; text-shadow: 1px 1px 1px #000;">Looking For A Job?</h2>
                    </div>
                    <!-- LAYER 2 -->
                    <div class="tp-caption detailText p lfl tp-resizeme start" data-x="center" data-y="center" data-voffset="10" data-speed="1200" data-start="1500" data-easing="easeInOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="text-align: center; z-index: 8; color: #fff;">
                        <p style="font-size: 20px; text-shadow: 1px 1px 1px #000;">
                            Browse our assortment of open internal positions.
                            <br style="font-size: 12px;">Forge your own path.
                        </p>
                    </div>
                    <!-- LAYER 3-->
                    <div class="tp-caption lfb tp-resizeme rs-parallaxlevel-0 start"
                         data-x="center"
                         data-y="center"
                         data-voffset="90"
                         data-speed="1200"
                         data-start="2000"
                         data-easing="easeInOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300" style="z-index: 11;">
                        <a href=@Url.Action("FindJob", "OpenPositions") class="btn btn-common btn-lg">Search Now</a>
                    </div>
                </li>
                <li data-transition="slideup" data-slotamount="7" data-masterspeed="800" data-thumb="../../Content/img/pc-collab.jpg">
                    <!-- MAIN IMAGE -->
                    <img src="~/Content/img/dummy.png" alt="laptopmockup_sliderdy" data-lazyload="../../Content/img/pc-collab.jpg">
                    <!-- LAYERS 1-->
                    <div class="caption title sfb tp-caption tp-resizeme start" data-x="center" data-y="center" data-voffset="-50" data-speed="400" data-start="800" data-easing="easeOutExpo">
                        <h2 style="min-height: 0px; min-width: 0px; line-height: 94px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; letter-spacing: 2px; font-size: 52px; font-weight: 900; color: #fff; text-transform: uppercase; text-shadow: 1px 1px 1px #000;">Your future is waiting...</h2>
                    </div>
                    <!-- LAYERS 2-->
                    <div class="caption text p sfb tp-caption tp-resizeme start" data-x="center" data-y="center" data-voffset="10" data-speed="400" data-start="1200" data-easing="easeOutExpo" style="z-index: 8; color: #fff; text-align: center;">
                        <p style="font-size: 20px; text-shadow: 1px 1px 1px #000;">
                            Create an account, add a resume...
                            <br style="font-size: 12px;">Take control of your future.
                        </p>
                    </div>
                    <!-- LAYERS 3-->
                    <div class="caption sfb tp-caption tp-resizeme start" data-x="center" data-y="center" data-voffset="90" data-speed="400" data-start="1600" data-easing="easeOutExpo">
                        <a href=@Url.Action("Login", "Account") class="btn btn-border btn-lg">Get Started</a>
                    </div>
                </li>
                <li data-transition="zoomin" data-slotamount="7" data-masterspeed="1500" data-thumb="../../Content/img/internship.jpg">
                    <!-- MAIN IMAGE -->
                    <img src="~/Content/img/dummy.png" alt="laptopmockup_sliderdy" data-lazyload="../../Content/img/internship.jpg">
                    <!-- LAYERS 1-->
                    <div class="tp-caption mediumHeading h2 lfl tp-resizeme rs-parallaxlevel-0 start"
                         data-x="35"
                         data-y="center"
                         data-voffset="-50"
                         data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-customout="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-speed="1200"
                         data-start="1550"
                         data-easing="Back.easeInOut"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="400"
                         data-endeasing="Back.easeIn" style="z-index: 11;">
                        <h2 style="min-height: 0px; min-width: 0px; line-height: 94px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; letter-spacing: 2px; font-size: 52px; font-weight: 900; color: #fff; text-transform: uppercase; text-shadow: 1px 1px 1px #000;">Internship Opprtunity?</h2>
                    </div>
                    <!-- LAYER 2 -->
                    <div class="tp-caption detailText p lfl tp-resizeme start" data-x="35" data-y="center" data-voffset="10" data-speed="1200" data-start="2100" data-easing="easeInOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 8; color: #fff;">
                        <p style="font-size: 20px; text-shadow: 1px 1px 1px #000;">
                            No. Go get your training on someone else's dime...
                            <br style="font-size: 12px;">We only hire real developers here.
                        </p>
                    </div>
                    <!-- LAYERS 3-->
                    <div class="tp-caption lfb tp-resizeme rs-parallaxlevel-0 start"
                         data-x="35"
                         data-y="center"
                         data-voffset="90"
                         data-speed="1200"
                         data-start="2700"
                         data-easing="easeInOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300" style="z-index: 11;">
                        <a href="https://www.google.com/search?q=software+engineer+internship" class="btn btn-common btn-lg" target="_blank">Find Your Handout</a>
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption lfb start" data-y="50" data-x="750" style="z-index: 9; left: 839.5px; top: 125px; visibility: visible; opacity: 0; transform: translate3d(0px, 763px, 0px);" data-captionhidden="on" data-endeasing="Power4.easeIn" data-endspeed="1000" data-start="1200" data-speed="800" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;">
                        <img src="~/Content/img/dummy.png" alt="" data-lazyload="../../Content/img/award.png">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- Main Slider Section End-->
<!-- Find Job Section Start -->
<section class="find-job section">
    <div class="container">
        <h2 class="section-title">Internal Positions</h2>
        <div class="row">
            <div class="col-md-12">
                @foreach (var item in Model)
                {
                    <div class="job-list">
                        <div class="thumb">
                            <a href=@Url.Action("JobDetails", "OpenPositions", new { id = item.OpenPositionId })><img src="~/Content/img/techsavvy-square.png" alt=""></a>
                        </div>
                        <div class="job-list-content">
                            <h4><a href=@Url.Action("JobDetails", "OpenPositions", new { id = item.OpenPositionId })>@Html.DisplayFor(modelItem => item.Position.Title)</a></h4>
                            <p>@item.Position.JobDescription.Substring(0, Math.Min(item.Position.JobDescription.Length, 350))...</p>
                            <div class="job-tag">
                                <div class="pull-left">
                                    <div class="meta-tag">
                                        <span><i class="ti-location-pin"></i>@item.Location.City, @item.Location.State, USA</span>
                                        <span><i class="ti-time"></i>Full-Time</span>
                                    </div>
                                </div>
                                @if (Request.IsAuthenticated && User.IsInRole("Employee"))
                                {
                                    <div class="pull-right">
                                        @using (Html.BeginForm("Create", "Applications", FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="openPositionId" value="@item.OpenPositionId" />
                                            <div class="form-group">
                                                <input type="submit" value="Apply" class="btn btn-common" />
                                            </div>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- Find Job Section End -->
<!-- Testimonial Section Start -->
<section id="testimonial" class="section">
    <div class="container">
        <div class="row">
            <div class="touch-slider owl-carousel owl-theme">
                <div class="item active text-center">
                    <img class="img-member" src="~/Content/img/testimonial-1.jpg" alt="">
                    <div class="client-info">
                        <h2 class="client-name">Jessica<br /><span>(Senior Accountant)</span></h2>
                    </div>
                    <p><i class="fa fa-quote-left quote-left"></i> The work environment is fantastic... calm, collected, easy-going. <br> I highly recommend TechSavvy as a place to develop your career!<i class="fa fa-quote-right quote-right"></i></p>
                </div>
                <div class="item text-center">
                    <img class="img-member" src="~/Content/img/testimonial-2.jpg" alt="">
                    <div class="client-info">
                        <h2 class="client-name">John Doe<br /><span>(Project Manager)</span></h2>
                    </div>
                    <p><i class="fa fa-quote-left quote-left"></i> The team that was assigned to our project was extremely professional <br> throughout the entire project and assured that customer expectations were met and <br> often exceeded.<i class="fa fa-quote-right quote-right"></i></p>
                </div>
                <div class="item text-center">
                    <img class="img-member" src="~/Content/img/testimonial-3.jpg" alt="">
                    <div class="client-info">
                        <h2 class="client-name">Helen<br /><span>(Software Engineer)</span></h2>
                    </div>
                    <p><i class="fa fa-quote-left quote-left"></i> My career has taken-off since starting with TechSavvy 5 years ago. <br> A collaborative learning environment and support for gaining new knowledge from <br> managers is a breath of fresh air.<i class="fa fa-quote-right quote-right"></i></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial Section End -->
<!-- Featured Jobs Section Start -->
<section class="featured-jobs section">
    <div class="container">
        <h2 class="section-title">
            Featured Jobs
        </h2>
        <div class="row">
            @Html.Action("FeaturedOpenPositions", "Home")
        </div>
    </div>
</section>
<!-- Featured Jobs Section End -->
<!-- Counter Section Start -->
<section id="counter">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="counting">
                    <div class="icon">
                        <i class="ti-briefcase"></i>
                    </div>
                    <div class="desc">
                        <h2>Openings</h2>
                        <h1 class="counter">@ViewBag.Openings</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="counting">
                    <div class="icon">
                        <i class="ti-user"></i>
                    </div>
                    <div class="desc">
                        <h2>Accounts</h2>
                        <h1 class="counter">@ViewBag.Accounts</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="counting">
                    <div class="icon">
                        <i class="ti-write"></i>
                    </div>
                    <div class="desc">
                        <h2>Resumes</h2>
                        <h1 class="counter">@ViewBag.Resumes</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Counter Section End -->