@model JobBoard.DATA.Applications

@{
    ViewBag.Title = "Applications Details";
}

<section class="manage section">
    <div class="container">
        <h2 class="medium-title">@ViewBag.Title</h2>
        <div class="card table-card">
            <div class="card-body">
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.OpenPosition.OpenPositionId)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.OpenPosition.OpenPositionId)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ApplicationDate)
                        </dt>

                        <dd>
                            @Model.ApplicationDate.ToShortDateString()
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.OpenPosition.Position.Title)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.OpenPosition.Position.Title)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.UserDetail.FullName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UserDetail.FullName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ApplicationStatu.StatusName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ApplicationStatu.StatusName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ResumeFilename)
                        </dt>

                        <dd>
                            <a class="download" href="~/Content/resumes/@Model.ResumeFilename">@Model.ResumeFilename</a>
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ManagerNotes)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ManagerNotes)
                        </dd>
                    </dl>
                </div>
                @if (Request.IsAuthenticated && User.IsInRole("Manager"))
                {
                    <p>
                        @Html.ActionLink("Edit", "Edit", null, new { id = Model.ApplicationId }, new { @class = "btn btn-common" })
                    </p>
                }
            </div>
        </div>
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
    </div>
</section>