@model IEnumerable<JobBoard.DATA.Applications>

@{
    ViewBag.Title = "Manage Applications";
}

<section class="manage section">
    <div class="container">
        <h2 class="medium-title">@ViewBag.Title</h2>
        <div class="card table-card">
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.OpenPosition.OpenPositionId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ApplicationDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UserDetail.FullName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ApplicationStatu.StatusName)
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.OpenPosition.OpenPositionId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ApplicationDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UserDetail.FullName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ApplicationStatu.StatusName)
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.OpenPosition.OpenPositionId)
                            </td>
                            <td>
                                @item.ApplicationDate.ToShortDateString()
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserDetail.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ApplicationStatu.StatusName)
                            </td>
                            <td>
                                @if (Request.IsAuthenticated && User.IsInRole("Manager"))
                                {
                                @Html.ActionLink("Edit", "Edit", new { id = item.ApplicationId }) @:|
                                }
                                @Html.ActionLink("Details", "Details", new { id = item.ApplicationId })
                                @if (Request.IsAuthenticated && User.IsInRole("Manager"))
                                {
                                    @:| @Html.ActionLink("Delete", "Delete", new { id = item.ApplicationId })
                                }
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>