@model IEnumerable<JobBoard.DATA.Applications>

@{
    ViewBag.Title = "My Applications";
}

<!-- Page Header Start -->
<div class="page-header" style="background: url(../../Content/img/banner1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="product-title">My Applications</h2>
                    <ol class="breadcrumb">
                        <li><a href=@Url.Action("Index", "Home")><i class="ti-home"></i> Home</a></li>
                        <li class="current">My Applications</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="job-alerts-item">
                        <h3 class="alerts-title">@ViewBag.Title</h3>
                        <div class="applications-content">
                            @foreach (var item in Model)
                            {
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="thums">
                                            <img src="../../Content/img/jobs/img-1.jpg" alt="">
                                        </div>
                                        <h3>@item.OpenPosition.Position.Title</h3>
                                        <span>@item.OpenPosition.Location.City, @item.OpenPosition.Location.State, USA</span>
                                    </div>
                                    <div class="col-md-3">
                                        <p><span class="full-time">Full-Time</span></p>
                                    </div>
                                    <div class="col-md-2">
                                        <p>@item.ApplicationDate.ToShortDateString()</p>
                                    </div>
                                    <div class="col-md-2">
                                        <p>@item.ApplicationStatu.StatusName</p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
