@model JobBoard.DATA.OpenPositions

@{
    ViewBag.Title = "Open Position Details";
}

<section class="manage section">
    <div class="container">
        <h2 class="medium-title">@ViewBag.Title</h2>
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Location.StoreNumber)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Location.StoreNumber)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Position.Title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Position.Title)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsFeatured):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsFeatured)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", null, new { id = Model.OpenPositionId, @class = "btn btn-common" }) 
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
        </p>
    </div>
</section>
