@model JobBoard.DATA.OpenPositions

@{
    ViewBag.Title = "Open Position Details";
}

<section class="manage section">
    <div class="container">
        <h2 class="medium-title">@ViewBag.Title</h2>
        <div class="card table-card">
            <div class="card-body">
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.OpenPositionId)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.OpenPositionId)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Location.StoreNumber)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Location.LocationInfo)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Position.Title)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Position.Title)
                        </dd>
                        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <dt>
                                @Html.DisplayNameFor(model => model.Location.ManagerId)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Location.UserDetail.FullName)
                            </dd>
                        }
                        <dt>
                            @Html.DisplayNameFor(model => model.IsFeatured)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.IsFeatured)
                        </dd>

                    </dl>
                </div>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.OpenPositionId }, new { @class = "btn btn-common" })
                </p>
            </div>
        </div>
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
    </div>
</section>
