@model IEnumerable<JobBoard.DATA.OpenPositions>

@{
    ViewBag.Title = "Manage Open Positions";
}

<section class="manage section">
    <div class="container">
        <h2 class="medium-title">@ViewBag.Title</h2>
        <p>
            @Html.ActionLink("Create New Open Position", "Create", null, new { @class = "btn btn-common" })
        </p>
        <div class="card table-card">
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.OpenPositionId)
                            </th>
                            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <th>
                                    @Html.DisplayNameFor(model => model.Location.LocationInfo)
                                </th>
                            }
                            <th>
                                @Html.DisplayNameFor(model => model.Position.Title)
                            </th>
                            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <th>
                                    @Html.DisplayNameFor(model => model.Location.ManagerId)
                                </th>
                            }
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.OpenPositionId)
                            </th>
                            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <th>
                                    @Html.DisplayNameFor(model => model.Location.LocationInfo)
                                </th>
                            }
                            <th>
                                @Html.DisplayNameFor(model => model.Position.Title)
                            </th>
                            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <th>
                                    @Html.DisplayNameFor(model => model.Location.ManagerId)
                                </th>
                            }
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <th>
                                @Html.DisplayFor(modelItem => item.OpenPositionId)
                            </th>
                            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.Location.LocationInfo)
                                </td>
                            }
                            <td>
                                @Html.DisplayFor(modelItem => item.Position.Title)
                            </td>
                            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <td>
                                    @Html.DisplayFor(model => item.Location.UserDetail.FullName)
                                </td>
                            }
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.OpenPositionId }) |
                                @Html.ActionLink("Details", "Details", new { id = item.OpenPositionId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.OpenPositionId })
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>