@model JobBoard.DATA.Positions

@{
    ViewBag.Title = "Position Details";
}

<section class="manage section">
    <div class="container">
        <h2 class="medium-title">@ViewBag.Title</h2>
        <div class="card table-card">
            <div class="card-body">
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Title)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Title)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.JobDescription)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.JobDescription)
                        </dd>

                    </dl>
                </div>
                <p>
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
                    @Html.ActionLink("Edit", "Edit", new { id = Model.PositionId }, new { @class = "btn btn-common" })
                </p>
            </div>
        </div>
</section>
