@model IEnumerable<JobBoard.DATA.Positions>

@{
    ViewBag.Title = "Manage Positions";
}

<section class="find-job section">
    <div class="container">
        <h2 class="section-title">@ViewBag.Title</h2>
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    Actions
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.PositionId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.PositionId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.PositionId })
                    </td>
                </tr>
            }

        </table>
    </div>
</section>
